<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         colors="true"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="Test Unit Suite">
            <directory>./tests/CarPoolingChallenge/Unit</directory>
        </testsuite>
        <testsuite name="Test Functional Suite">
            <directory>./tests/CarPoolingChallenge/Functional</directory>
        </testsuite>
    </testsuites>

    <coverage ignoreDeprecatedCodeUnits="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <exclude>
            <directory>src/CarPoolingChallenge/Infrastructure</directory>
        </exclude>
    </coverage>

    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
        <env name="KERNEL_CLASS" value="Gonsandia\CarPoolingChallenge\Infrastructure\Framework\Kernel"/>
        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/test.db" />
    </php>

</phpunit>
